<input type="text" [(ngModel)]="title">
{{title}}



<!--ngIf-->
<div *ngIf="title === 'German'">
  Este es un germi
</div>

<div *ngIf="title === 'Rosa'">
  Este es julian rosas
</div>

<div *ngIf="title === 'Camilo'">
  Este es un Camilo
</div>

<div [ngSwitch] = "title">
  <p *ngSwitchCase="'German'">Este es German</p>
  <p *ngSwitchCase="'Rosa'">Esta es Rosa</p>
  <p *ngSwitchCase="'Camilo'">Este es Camilo</p>
  <p *ngSwitchDefault>No hay emparejamiento
    
  </p>
</div>


<button (click)="addItem()">
  Add item
</button>

<!--for index(posicion de los elemntos del array)-->
<ul>
  <li *ngIf="item.length===0">
    La lista esta vacía
  </li>
  <li *ngFor="let name of item; index as i">
    {{name}} {{i}}
    <!--Implemnatcion del delete por index al dar click-->
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>
<!--Renderiza los componentes-->
<div *ngFor="let product of products">
  <!--$event es un evento que sirve para emitir el valor que nos va a emitir automaticamente del evenEmiiter-->
  <app-product (productClicked) = "clickProduct($event)" [product]= "product"></app-product>
</div>